{:highlights [{:id #uuid "679c975f-9f68-40f3-b4b7-1a4cbe3b3870",
               :page 19,
               :position {:bounding {:x1 61,
                                     :y1 367,
                                     :x2 595,
                                     :y2 744,
                                     :width 666.1416666666667,
                                     :height 1044.0949999999998},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1738315614235},
               :properties {:color "yellow"}}
              {:id #uuid "679f926f-a060-44bd-877a-8d259af7981d",
               :page 20,
               :position {:bounding {:x1 162.4888916015625,
                                     :y1 97.453125,
                                     :x2 383.965576171875,
                                     :y2 115.453125,
                                     :width 666.1416666666667,
                                     :height 1044.0949999999998},
                          :rects ({:x1 162.4888916015625,
                                   :y1 97.453125,
                                   :x2 383.965576171875,
                                   :y2 115.453125,
                                   :width 666.1416666666667,
                                   :height 1044.0949999999998}),
                          :page 20},
               :content {:text "Rubbish category was not there"},
               :properties {:color "yellow"}}],
 :extra {:page 19}}
