{:highlights [{:id #uuid "679cab52-8c88-4d8f-8eb5-cd8b22510e33",
               :page 2,
               :position {:bounding {:x1 105.046875,
                                     :y1 462.1875,
                                     :x2 623.0723266601562,
                                     :y2 546.5,
                                     :width 718.04,
                                     :height 1081.7849999999999},
                          :rects ({:x1 271.2115783691406,
                                   :y1 462.1875,
                                   :x2 622.7625122070312,
                                   :y2 484.1875,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 482.953125,
                                   :x2 622.7796020507812,
                                   :y2 504.953125,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 503.71875,
                                   :x2 623.0723266601562,
                                   :y2 525.71875,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 524.5,
                                   :x2 300.8583984375,
                                   :y2 546.5,
                                   :width 718.04,
                                   :height 1081.7849999999999}),
                          :page 2},
               :content {:text "The body of the laborer is used up or wasted at accelerated rates in order to secure the most profit. Those who have work could easily be disposed of and end up as part of the permanent surplus population as well."},
               :properties {:color "yellow"}}
              {:id #uuid "679cab7e-6d44-4fd6-a8c7-e8c7568524b4",
               :page 2,
               :position {:bounding {:x1 105.046875,
                                     :y1 752.75,
                                     :x2 623.1199951171875,
                                     :y2 1003.109375,
                                     :width 718.04,
                                     :height 1081.7849999999999},
                          :rects ({:x1 123.203125,
                                   :y1 752.75,
                                   :x2 623.059814453125,
                                   :y2 774.75,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 773.515625,
                                   :x2 623.048095703125,
                                   :y2 795.515625,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 794.296875,
                                   :x2 623.08984375,
                                   :y2 816.296875,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 815.0625,
                                   :x2 623.1007080078125,
                                   :y2 837.0625,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 835.828125,
                                   :x2 622.7318115234375,
                                   :y2 857.828125,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 856.5,
                                   :x2 623.091796875,
                                   :y2 878.5,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 877.265625,
                                   :x2 623.0792846679688,
                                   :y2 899.265625,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 898.03125,
                                   :x2 622.7627563476562,
                                   :y2 920.03125,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 918.796875,
                                   :x2 623.1199951171875,
                                   :y2 940.796875,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 939.578125,
                                   :x2 622.092529296875,
                                   :y2 961.578125,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 960.34375,
                                   :x2 623.0687866210938,
                                   :y2 982.34375,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 105.046875,
                                   :y1 981.109375,
                                   :x2 296.2903747558594,
                                   :y2 1003.109375,
                                   :width 718.04,
                                   :height 1081.7849999999999}),
                          :page 2},
               :content {:text "The argument that the human takes on the form of waste in contemporary capitalism also permits a broadening of traditional definitions of waste. Traditionally, environmental scholars across disciplinary and theoretical fields speak of waste as something produced physically or socially by humans. Waste is thus understood as that which is other than the human. Likewise, many environmental scholars studying the concept of waste tend toward an analysis of capitalism that is limited to consumption or distribution. Thus, they fail to see capitalism as a mode of production that determines both consumption and distribution. As a result, these theories on waste are limited in their ability to make the theoretical leap to the human, itself, as a waste product within capitalism."},
               :properties {:color "yellow"}}
              {:id #uuid "679cac2e-4958-4b9d-9aff-7602e473ff2a",
               :page 4,
               :position {:bounding {:x1 122.484375,
                                     :y1 305.859375,
                                     :x2 605.681640625,
                                     :y2 545.140625,
                                     :width 718.04,
                                     :height 1081.7849999999999},
                          :rects ({:x1 122.484375,
                                   :y1 305.859375,
                                   :x2 605.68115234375,
                                   :y2 325.859375,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 122.484375,
                                   :y1 325.875,
                                   :x2 605.681640625,
                                   :y2 345.875,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 122.484375,
                                   :y1 345.78125,
                                   :x2 605.37158203125,
                                   :y2 365.78125,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 122.484375,
                                   :y1 365.6875,
                                   :x2 604.7274169921875,
                                   :y2 385.6875,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 122.484375,
                                   :y1 385.59375,
                                   :x2 605.668212890625,
                                   :y2 405.59375,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 122.484375,
                                   :y1 405.5,
                                   :x2 605.6815795898438,
                                   :y2 425.5,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 122.484375,
                                   :y1 425.515625,
                                   :x2 604.7310791015625,
                                   :y2 445.515625,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 122.484375,
                                   :y1 445.421875,
                                   :x2 605.6509399414062,
                                   :y2 465.421875,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 122.484375,
                                   :y1 465.328125,
                                   :x2 605.0159912109375,
                                   :y2 485.328125,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 122.484375,
                                   :y1 485.21875,
                                   :x2 605.353759765625,
                                   :y2 505.21875,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 122.484375,
                                   :y1 505.125,
                                   :x2 604.6553955078125,
                                   :y2 525.125,
                                   :width 718.04,
                                   :height 1081.7849999999999}
                                  {:x1 122.484375,
                                   :y1 525.140625,
                                   :x2 357.25506591796875,
                                   :y2 545.140625,
                                   :width 718.04,
                                   :height 1081.7849999999999}),
                          :page 4},
               :content {:text "People put their garbage in the garbage can under the kitchen sink, in the bathroom, in the den, and then someone collects it all and takes it out. The garbage that is taken out is eventually left at the curb or in the alley, and very soon it is gone. All of this garbage is quickly replaced by other garbage. Garbage passes under eyes virtually unnoticed, the continual turnover inhibiting perception. One of the handful of things that every American does every day—throw garbage away—is among the least likely of all acts to register. The clich´e about garbage we have all heard is: “Out of sight, out of mind”. Yet even when it’s in sight garbage somehow manages to remain out of mind. That individual failure to perceive has its counterpart in American society at large(Rathje and Murphy 2001:45–46)"},
               :properties {:color "yellow"}}],
 :extra {:page 4}}
